div.main{
    border-bottom: 2px dashed blue;
    border-top: 2px dashed red;
    border-left: 2px dashed purple;
    border-right: 2px dashed green;
    width: 50%;
    padding: 1px;
}

div.body{
    background-color: rgb(228, 69, 69);
    color: rgb(226, 214, 45);
    margin-top: -25px ;
    margin-bottom: -16px;
}

h1{
    color: green;
    background-color: lightblue; 
    margin-top: 0px;
}
h1:hover{
    color: black;
    background-color: yellow;
}
